ul.products{
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
 
    ul.products li{
        background: #eeeeee;
        border: 1px solid #d3d3d3;
        padding: 5px 5px 5px 5px;
        width: 200px;
        text-align: center;
        float: left;
        display: inline-block;
        margin-right: 10px; 
        margin-bottom: 10px;
    }

    ul.products li a:hover,ul.products li a:active {
        color: #ffffff;
        background-color: #3C8DBC;
        font-weight: bold;
    }

 
    ul.products h3{
        margin: 0;
        padding: 0px 0px 5px 0px;
        font-size: 14px;
    }
     
    ul.products small{
        display: block;
    }
     
    ul.products form fieldset{
        border: 0px;
    }
     
    ul.products form label{
        font-size: 12px;
    }
     
    ul.products form input[type=text]{
        width: 18px;
        background: #FFF;
        border: 1px solid #d3d3d3;
    }
    ul.products form button{
        width: 18px;
        background: #FFF;
        border: 1px solid #d3d3d3;
    }

.navigation{
    width: 100%;
}
.navmenu-nav {
  max-width: none;
  background: #357CA5;
  padding: 0;
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: relative;
}

.navmenu-nav a {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    
}
.navmenu-nav li {
  display: inline;
  float: left;
  width: 100px;
}

.navmenu-nav li a {
    color: #ffffff;
    border-right: 1px solid #ffffff;
    display: block;
    padding: 10px;
}

.navmenu-nav li:last-child a {
    border-right: 1;
    border-color: #ffffff;
}

.navmenu-nav li a:hover,.navmenu-nav li a:active {
    color: #ffffff;
    background-color: #3C8DBC;
    font-weight: bold;
}

.ribbon-green1 {
  font: bold 15px Sans-Serif;
  text-align: center;
  padding: 5px;
  width: 50px;
  background-color: #BFDC7A;
}